@charset "UTF-8";

/* Global CSS and Tools */
.centered{
	margin-left: auto;
	margin-right: auto;
}

.matted{
	background-color: white;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	max-height: none;
}







/* CSS Document */

html{
	background: #E2E29B;
}

body{
	background: #FFFFFF;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}


/*-------------- HEADER -------------------*/
#nameplate{
font-family: sutro-shaded-fill, sans-serif;
font-style: normal;
	font-size: 5vw;
	font-weight: normal;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#titles{
	font-family: mrsheffield-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}





/* --------------- NAVIGATION BAR -----------------*/
/* Navbar background color, font size is set in section BELOW */
.topnav {
font-family: sutro-shaded-fill, sans-serif;
font-weight: 400;
font-style: normal;
  overflow: hidden;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

/* Style (AND FONT SIZE) for EACH tab of navbar */
.topnav a{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  width: 25%;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #E2E29B;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #9be2bf;   
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon, a.active{
    float: none;
    display: block;
	width: 100%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

/*---- ICON ONLY ----*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: static;
	width: 90vw; 
	margin-left: auto;
	margin-right: auto;	  
  }
	
/*----- OTHER BUTTONS ----*/	
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: center;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;	
  }
}


/*------------------- MAIN ---------------*/
body{
	height: auto;
	max-height: none;
	background-color: white;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}


#slider-shell{
	height: auto;
	max-height: 100%;
	min-height: 100%;
	padding: 0px 0px;
}

h1{
font-family: sutro, serif;
font-weight: 700;
font-style: normal;
	text-align: center;
	font-size: 3vw;
}

h2{
font-family: sutro, serif;
font-weight: 700;
font-style: normal;
	text-align: left;
	text-indent: 7vw;
	font-size: 3vw;
}

p{
font-family: sutro, serif;
font-weight: 100;
font-style: normal;
font-size: 20px;
	text-align: left;
	padding-left: 7vw;
	padding-right: 7vw;
}







