@charset "UTF-8";

/* Global CSS and Tools */
.centered{
	margin-left: auto;
	margin-right: auto;
}

.matted{
	background-color: white;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	max-height: none;
}







/* CSS Document */

html{
	background: #E2E29B;
}

body{
	background: #FFFFFF;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}


/*-------------- HEADER -------------------*/
#nameplate{
font-family: sutro-shaded-fill, sans-serif;
font-style: normal;
	font-size: 5vw;
	font-weight: normal;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#titles{
	font-family: mrsheffield-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}





/* --------------- NAVIGATION BAR -----------------*/
/* Navbar background color, font size is set in section BELOW */
.topnav {
font-family: sutro-shaded-fill, sans-serif;
font-weight: 400;
font-style: normal;
  overflow: hidden;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

/* Style (AND FONT SIZE) for EACH tab of navbar */
.topnav a{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  width: 25%;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #E2E29B;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #9be2bf;   
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*------------------- MAIN ---------------*/
body{
	height: auto;
	max-height: none;
	background-color: white;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}


#slider-shell{
	height: auto;
	max-height: 100%;
	min-height: 100%;
	padding: 0px 0px;
}

h1{
font-family: sutro, serif;
font-weight: 700;
font-style: normal;
	text-align: center;
	font-size: 3vw;
}

h2{
font-family: sutro, serif;
font-weight: 700;
font-style: normal;
	text-align: left;
	text-indent: 7vw;
	font-size: 3vw;
}

p{
font-family: sutro, serif;
font-weight: 100;
font-style: normal;
font-size: 20px;
	text-align: left;
	padding-left: 7vw;
	padding-right: 7vw;
}


/*---------- ART Page Gallery ------------*/

.gallery{
	padding-left: 9vw;
	padding-right: 9vw;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.gallery img{
	vertical-align: middle;
	transition: 1s;
	padding: 1.2vw;		/* CALCULATED FOR 5 IMAGES*/
	width: 12vw;		/* CALCULATED FOR 5 IMAGES*/
}
.gallery img:hover{
	filter:grayscale(100%);
	filter: opacity(60%);
	transform: scale(1.1);
	transform: matrix3d(1.1);
}


/* Gradient color1 - color2 - color1 */
hr.style-one {
	width: 90%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Gradient color1 - color2 - color1 */
hr.style-two {
	width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.regular-short{
	width: 75%;
}





/*--------------- MEDIA QUERIES [TOPNAV] ------------------*/
	/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
	
	/*MAKES TOPNAV INTO BLOCKS*/
  	.topnav a {display: none;}
  	.topnav a.icon, a.active{
    	float: none;
    	display: block;
		width: 100%;
	}
	
	
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	
	/*---- ICONS ONLY (responsive class) ----*/
    .topnav.responsive {position: relative;}
  
	/*----- MENU ICONS (responsive class) ----*/	
	.topnav.responsive .icon {
		position: static;
		width: 40vw; 
		margin-left: auto;
		margin-right: auto;	 
	}
	
	/*----- OTHER BUTTONS (responsive class) ----*/	
  	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
		width: 40vw;			/*Not sure why but this needs to be 40vw to center text*/
		margin-left: auto;
		margin-right: auto;
  	}
	
	/*---- PHOTOS GALLERY & IMAGES ----*/
	.gallery {
		flex-wrap: flex;
		justify-content: center;
	}
	
	.gallery img {
		ertical-align: middle;
		transition: 1s;
		padding: 1.2vw;		/* CALCULATED FOR 2 IMAGES*/
		width: 30vw;		/* CALCULATED FOR 2 IMAGES*/
	}
	
	/*---- TEXT AND ALIGNMENT ----*/
	h1,h2{
		text-align: center;
		text-indent: 0vw;
		font-size: 5vw;
	}
	
	p{
		font-size: 3vw;
		text-align: left;
		padding-left: 7vw;
		padding-right: 7vw;
	}

}

